@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
    display: block;
    overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

/* "대부분 커스터마이징된" 스크롤바
 * (width/height가 지정되지 않으면 보이지 않음 */
.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff; /* 또는 트랙에 추가한다 */
}

/* 썸(thumb) 추가 */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #b3b3b3;
}

/* 애니메이션 추가 */
.fade-in-out {
    transition: opacity 0.5s, visibility 0.5s;
}

.close {
    opacity: 0;
    visibility: hidden;
}

.open {
    opacity: 1;
    visibility: visible;
}

.navbar {
    background-color: #fff;
    color: #202020;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 10;
    top: 0;
    height: 4rem;
    width: 100%;
}

.navbar a {
    color: #202020;
    text-decoration: none;
    padding: 10px 15px;
}

.container {
    max-width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 2rem;
}

.board-container {
    min-height: 100vh;
    max-width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 4rem;
}

.board-content {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    border-radius: 5px;
    padding: 20px;
}

.left-handle {
    z-index: 10;
    position: absolute;
    top: 10%;
    min-width: 450px;
    max-width: 450px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.max-h-85 {
    max-height: 85%;
}

.max-h-36 {
    max-height: 36%;
}

.left-handle-menu {
    font-size: 20px;
    text-align: center;
}

.left-handle-menu ul li {
    display: inline-block;
}

.input-cont {
    border: 2px solid #2564eb;
    margin-top: 30px;
    padding: 5px;
}

.list-selected {
    color: #2564eb;
    border-bottom: 5px solid #2564eb;
}

.left-handle-selector {
    margin-top: 20px;
    text-align: center;
    background-color: #f4f4f4;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.custom-selector {
    background-color: #f4f4f4;
}

#listContSection {
    height: 48vh;
}

.store-option-panel {
    z-index: 10;
    position: absolute;
    right: 2%;
    top: 10%;
    min-width: 90px;
    max-width: 90px;
    padding: 20px;

}

.store-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}

.news-panel {
    z-index: 10;
    position: absolute;
    right: 2%;
    bottom: 5%;
    min-width: 300px;
    max-width: 300px;
}

.new-contents {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    border-radius: 5px;
    padding: 10px;
    max-height: 60px;
}

/************************/
/******* 버튼 ************/
/************************/
.btn-close {
    color: #2d2d2d;
}

.btn-option-select {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-food-option-selected {
    background-color: #ffac3f;
    color: white;
}

.btn-pencil-option-selected {
    background-color: #2cb10e;
    color: white;
}

.btn-gym-option-selected {
    background-color: #ff3fbc;
    color: white;
}

.btn-hospital-option-selected {
    background-color: #f45c5c;
    color: white;
}

/************************/
/******** 토글 라디오 *****/
/***********************/

input:checked ~ .radio {
    color: white;
    background-color: rgb(59 130 246);
}

/***********************/
/*** 정보 표시 박스 ******/
/**********************/

.info-box {
    background-color: #fafafb;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(198 194 194 / 50%);
}

.info-box dl {
    display: flex;
    flex-wrap: wrap;
}
.info-box dt, dd {
    margin: 0;
    padding: 0.5rem;
}
.info-box dt {
    text-align: left;
    flex-basis: 75%;
}
.info-box dd {
    text-align: right;
    flex-basis: 25%;
    box-sizing: border-box;
}

/*********************/
/**** ag-grid *******/
/*******************/
.custom-ag-grid {
    .ag-paging-row-summary-panel {
        display: none;
    }
}

.centered {
    .ag-header-cell-label {
        justify-content: center !important;
    }
}
.ag-row {
    .centered {
        justify-content: center !important;
        text-align: center;
    }
}

/********************/
/****** map *********/
/********************/
.house-info-overlay {
    padding: 5px;
    background-color: #3b82f6;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 120px;
}

.house-info-overlay .apart-amount {
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #3b82f6;
    color: white;
    margin: 0 auto
}

.house-info-overlay .apart-name {
    display: flex;
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
    width: 100%;
    font-size: 12px
}

.food-info-overlay {
    background-color: #ffac3f;
}

.education-info-overlay {
    background-color: #2cb10e;
}

.sports-info-overlay {
    background-color: #ff3fbc;
}

.hospital-info-overlay {
    background-color: #f45c5c;
}

.option-overlay-title {
    color: white;
}

.option-overlay-hover {
    z-index: 99;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    left: 50px;
    top: -30px;
    width: 300px;
    height: 80px;
    background-color: white;
    border: 1px solid #c9c9c9;
    padding: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.01);
}

.option-overlay-hover p {
    white-space: pre-wrap;
}

.address-display {
    z-index: 2;
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 0 43%;
    text-align: center;
}

.address-display-contents {
    background-color: rgb(255 255 255 / 90%);
    padding: 4px 3px;
    border: 1px solid #3b82f6;
    border-radius: 5px;
    color: #3b82f6;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.01);
}